{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
Verwaltung: Zimmer/Wohnungen/Häuser
{% endblock %}

{% block main %}

    {% if mode === 'table' %}
        {{ content|raw }}
    {% else %}
        <div class="backend-container">

        </div>
    {% endif %}

{% endblock %}

{% block error %}{% endblock %}
